<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>App Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="background">
    <ion-label>
      <ion-text style="text-align:center" color="light">
        <br>
        <h2>
          <strong>{{ name }}</strong>
        </h2>
      </ion-text>
      <ion-text style="text-align:center;" color="light">
        <h3>
          {{ email }}
        </h3>
      </ion-text>
      <ion-button style ="margin-left: 60px;" icon-left size="small" shape="round" color="light" (click)="editProfile()">
        Edit profile
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="dark" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        logout
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-list no-border>
    <ion-list-header>
      <ion-text color="dark">
        <h5>General</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="settings" slot="start" color="success"></ion-icon>
      <ion-label color="dark">App Language</ion-label>
      <ion-select [(ngModel)]="lang">
        <ion-select-option *ngFor="let language of languages" [value]="language">{{language}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications" slot="start" color="success"></ion-icon>
      <ion-label class="label" color="dark"> Enable notifications </ion-label>
      <ion-toggle [(ngModel)]="enableNotifications" color = "success"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Currency</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="card" slot="start" color="success"></ion-icon>
      <ion-label color="dark">Payment Method</ion-label>
      <ion-select [(ngModel)]="paymentMethod">
        <ion-select-option *ngFor="let method of paymentMethods" [value]="method">{{method}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-usd" slot="start" color="success"></ion-icon>
      <ion-label color="dark">Currency</ion-label>
      <ion-select [(ngModel)]="currency">
        <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Other</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="mail" slot="start" color="success"></ion-icon>
      <ion-label class="label" color="dark">Enable Promotions</ion-label>
      <ion-toggle [(ngModel)]="enablePromo" color = "success"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start" color="success"></ion-icon>
      <ion-label class="label" color="dark">Enable History</ion-label>
      <ion-toggle [(ngModel)]="enableHistory" color = "success"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
