<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Firestore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ng-container *ngIf="!forms || forms.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of forms">
      <ion-item lines="inset" button [routerLink]="['/form', item.id]">
        <ion-label>
          {{ item.article }}
          {{ item.quantity }}
          {{ item.price }}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
      <ion-item-option (click)="remove(item)" color="secondary">
        Delete
        <ion-icon name="checkmark" slot="end"></ion-icon>
      </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ng-container *ngIf="!registers || registers.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of registers">
      <ion-item lines="inset" button [routerLink]="['/register', item.id]">
        <ion-label>
          {{ item.username }}
          {{ item.password }}
          {{ item.name }}
          {{ item.company }}
          {{ item.email }}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
      <ion-item-option (click)="remove(item)" color="secondary">
        Delete
        <ion-icon name="checkmark" slot="end"></ion-icon>
      </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">

        <ion-fab-button routerLink="/form" routerDirection="forward">
          <ion-icon name="add">Add new form</ion-icon>
        </ion-fab-button>
        <ion-fab-button routerLink="/register" routerDirection="forward">
          <ion-icon name="add">Add new register</ion-icon>
        </ion-fab-button>
      
    </ion-fab>
</ion-content>
